@model FavoriteVerses.Models.VerseSearch
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Bible Verse Search Results</h2>
<br />
<div class="search-results">
    @if (Model != null && Model.Verses.Count() > 0)
    {
        <table>
            <thead>
                <tr>
                    <th style="width: 40%">Verse Text</th>
                    <th style="width: 30%">Verse Image</th>
                    <th style="width: 30%">&nbsp;</th>
                </tr>
            </thead>

            <tbody>
            @foreach (var item in Model.Verses)
            {
                <tr>
                    <td>@item.VerseText (@item.ReferenceText NLT)</td>
                    <td><img src="@item.ImageLink" style="width: 300px" asp-append-version="true"></td>
                    <td><button id="@item.Id" class="btn-primary" onclick="addFavorite($(this).attr('id'));">favorite</button></td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No verses found. Try different criteria.</p>
    }
</div>

<script type="text/javascript">
    function addFavorite(id) {

        const startDate = new Date('@Model.Verses.First().VerseDate');
        const totalVerses = @Model.PageSize;

        $.ajax({
            type: "POST",
            url: "@Url.Action("Add","Favorites")",
            data: {startDate: startDate.toISOString(), totalVerses: totalVerses, id: id},
            dataType: "text",
            success: function (msg) {
                console.log(msg);
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
    };
</script>